@import url("./lib/variables.css");

body {
  background-color: var(--adesso-blue);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: white;
}

button {
  background-color: var(--adesso-blue);
  color: white;
  border: none;
  height: 50px;
  border-radius: 25px;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #005fa3;
}

button:active {
  transform: scale(0.95);
}

.container {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.add-btn {
  font-family: Poppins;
  font-size: 18px;
  border: 1px solid;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  font-weight: bold;
}
