body {
  background-color: #016FC8;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: white;
}

form {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 21px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
  box-sizing: border-box;
  height: 50px;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus {
  outline: none;
  border: 1px solid #016FC8;
  box-shadow: 0 0 5px #016FC8;
  color: #000;
}

select {
  color: #aaa;
}

select:valid {
  color: #000;
}

button {
  background-color: #016FC8;
  color: white;
  border: none;
  height: 50px;
  border-radius: 25px;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #005fa3;
}

button:active {
  transform: scale(0.95);
}

span {
  text-align: left;
  color: red;
  font-size: 12px;
  margin-top: -16px;
  margin-bottom: 15px;
  display: flow;
}

span i{
  margin-right: 8px;
}

.api-error {
  color: red;
  font-size: 14px;
  margin-top: 15px;
  text-align: center;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}